<!-- &nbsp;
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="home">Inicio</a></li>
    <li class="breadcrumb-item"><a href="#">Error404</a></li>
</ul> -->
&nbsp;
<h1 style="text-align:center;"><b>404</b>&nbsp;Eso es un error.</h1>
<h2 style="text-align:center;">La URL solicitada no se encontró en este servidor. </h2>
&nbsp;
<div align="center"><button class="btn" (click)="onRegresar()">Regresar</button></div>

&nbsp;
<p class="centrado">
    <img src="/assets/404gif.gif" width="1100" height="290">
</p>